<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokeberries Stats APP</title>
    <style>
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
        }

        .content {
            text-align: center;
            max-width: 100%; 
            width: 100%;
            padding: 20px;
            align-self: flex-start; 
        }
        .title {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="content">
        <div class="title">
            <h1>Berry Growth Time Distribution</h1>
        </div>
    </div>
</body>
</html>
